<div class="fixed-action-btn">
  <a href="/stories/add" class="btn-floating btn-large light-green accent-5 -text-dark pulse">
      <i class="material-icons" style="color="#000">plus_one</i>
  </a>
</div>