<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="light-green-text text-darken-1"><i>miniStories</i></h5>
        <p class="grey-text text-lighten-4">Write your life portions by writing
          mini stories, share them with others, or keep them to yourself ☺️</p>
      </div>
      <div class="col l4 offset-l2 s12 left-align">
        <h5 class="white-text">Links</h5>
        <ul>
          <li class="text-darken-3 text-white text-lighten-3"><a
              class="hoverable"
              href="/stories"
            >Public Stories</a></li>
          <li class="grey-text text-lighten-3"><a
              class="hoverable"
              href="/about"
            >About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      Created with
      <span class="red-text text-accent-4">&hearts;</span>
      by Dzenis H. ➖ ©
      <script>document.write(new Date().getFullYear())</script>
      ➖
      <span class="light-green-text text-darken-2">miniStories</span>
    </div>
  </div>
</footer>