html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  display: inline-block;
  height: auto;
  width: 100%;
}

.story-text {
  height: 120px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

nav ul li:hover {
  background-color: greenyellow;
}

footer ul li {
  margin-top: 0.5rem;
}

a {
  color: black !important;
}

footer ul li a:hover {
  color: greenyellow;
}

.margin-fix {
  margin-right: -4rem;
}
