<h1 class="green-text text-darken-3">Welcome</h1>
<p>Welcome to miniStories 1.0.0 - beta</p>
<p>Post stories from the best and worst of your life and choose for them to be read by the world or completley private as your own personal diary</p><hr>
{{#if user}}
{{else}}
  <a class="btn light-green accent-3 waves-effect waves-light" style="margin: 1rem auto;" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}